html, body, #root {
  height: 100%;
  margin-bottom: 0;
  margin-top: 0;
  background: #fafafa;
}

$spacer: 1rem;
$blue: #3F51B5;
$red: #F44336;

.base-layout {
  min-height: 100%;
  background: $blue;
}

.panel {
  padding: 30px;
}

.navbar {
  a {
    display: flex;
    text-decoration: none;
    flex: 1;
    padding: 12px 16px;
    margin: -12px -16px;

    &:focus,
    &:active {
      text-decoration: none;
      color: inherit;
    }
  }
}

.full-link {
  flex: 1;
  text-decoration: none;
  color: inherit;

  &:focus,
  &:active {
    text-decoration: none;
    color: inherit;
  }
}

img {
  max-width: 100%;
}

.fileContainer .chooseFileButton.chooseFileButton {
  background: $blue;
  border-radius: 2px;

  &:hover {
    background: #303f9f;
  }
}

.Select.Select {
  .Select-control {
    position: relative;
    border: none;
    font-size: 17px;
    height: 38px;
    font-family: Roboto, sans-serif;

    &:after {
      left: 0;
      right: 0;
      bottom: 1px;
      height: 1px;
      content: "";
      position: absolute;
      transition: background-color 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
      pointer-event: none;
      background-color: rgba(0, 0, 0, 0.42);
    }

    &:hover {
      &:after {
        height: 2px;
        background-color: rgba(0, 0, 0, 0.87);
      }
    }

    .Select-value {
      background: $blue;
      color: white;
    }
  }

  &.is-focused {
    .Select-control:after {
      height: 2px;
      background-color: $blue;
    }

    & > .Select-control {
      box-shadow: none;
    }

    .Select-placeholder {
      display: none;
    }
  }

  .Select-input {
    margin-left: 0;
  }

  &.is-disabled {
    .Select-control:after {
      background: transparent;
      background-size: 5px 1px;
      background-image: linear-gradient(to right, rgba(0, 0, 0, 0.42) 33%, transparent 0%);
      background-repeat: repeat-x;
      background-position: left top;
    }

    .Select-control {
      background: transparent;

      &:hover {
        &:after {
          height: 1px;
        }
      }
    }
  }

  .Select-placeholder {
    padding-left: 0;
    color: rgba(0, 0, 0, 0.5);
    line-height: 38px;
    font-weight: 400;
  }
}
