html, body, #root {
  height: 100%;
  margin-bottom: 0;
  margin-top: 0;
  background: #fafafa;
}

$spacer: 1rem;
$blue: #3F51B5;
$red: #F44336;

.base-layout {
  min-height: 100%;
  background: $blue;
}

.panel {
  padding: 30px;
}

.navbar {
  a {
    display: flex;
    text-decoration: none;
    flex: 1;
    padding: 12px 16px;
    margin: -12px -16px;

    &:focus,
    &:active {
      text-decoration: none;
      color: inherit;
    }
  }
}

.full-link {
  flex: 1;
  text-decoration: none;
  color: inherit;

  &:focus,
  &:active {
    text-decoration: none;
    color: inherit;
  }
}

.fileContainer .chooseFileButton.chooseFileButton {
  background: $blue;
  border-radius: 2px;

  &:hover {
    background: #303f9f;
  }
}
